@using ManejadorDePatrocinadores.Models
@{
    ViewBag.Title = "Index";
}
<h2>Listado de Programas de Radio</h2>
<a href="/ProgramaRadio/Create" class="btn btn-primary">Agregar Programa de Radio</a>
<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Responsable</td>
            <td>Hora Inicio</td>
            <td>Hora Fin</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in (List<ProgramaRadio>)ViewData["programas_de_radio"])
        {
            <tr>
                <td>@row.nombre</td>
                <td>@row.responsable</td>
                <td>@row.hora_inicio</td>
                <td>@row.hora_fin</td>
            </tr>
        }
    </tbody>
</table>